
@import-normalize;

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/natural.jpg);
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 20px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
